@model Gokart_Laptime.Models.ChangePasswordViewModel
@using System.Security.Claims
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = @localizer["Change Password"];
}

<form asp-action="ChangePassword" class="row g-2 justify-content-md-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-xl-8">
        <label asp-for="CurrentPassword" class="mb-2"></label>
        <input asp-for="CurrentPassword" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-8">
        <label asp-for="NewPassword" class="mb-2"></label>
        <input asp-for="NewPassword" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

        <div class="w-100"></div>

    <div class="col-xl-8">
        <label asp-for="NewPasswordConfirm" class="mb-2"></label>
        <input asp-for="NewPasswordConfirm" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder>
        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
    </div>

    <div class="w-100"></div>


    <div class="col-xl-8">
        <button type="submit" class="w-100 btn btn-outline-warning"><i class="fas fa-pencil me-2"></i>@localizer["Update Password"]</button>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-8">
        <a asp-controller="User" asp-action="UserProfile" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value" class="w-100 btn btn-outline-info"><i class="fas fa-angle-double-left me-2"></i>@localizer["Go Back"]</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
