@model Gokart_Laptime.Models.UserLoginViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["Login"];
}

<form asp-action="Login" class="row g-2 justify-content-md-center">
    <div class="col-xl-8">
        <label asp-for="Email" class="mb-2"></label>
        <input asp-for="Email" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="w-100"></div>

    <div class="col-xl-8">
        <label asp-for="Password" class="mb-2"></label>
        <input asp-for="Password" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-8">
        <button type="submit" class="w-100 btn btn-outline-success"><i class="fas fa-sign-in-alt me-2"></i>@localizer["Login"]</button>
    </div>

    <div class="w-100"></div>

    <div class=" col-xl-8">
        <a asp-action="Register" class="w-100 btn btn-outline-info"><i class="fas fa-user-plus me-2"></i>@localizer["Register"]</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
