@model Gokart_Laptime.Models.RaceModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["New Race"];
}

<form asp-action="Create" class="row g-2 justify-content-md-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-xl-6">
        <label asp-for="RaceTrackId" class="mb-2"></label>
        <select asp-for="RaceTrackId" asp-items="(SelectList)@ViewData["RaceTracks"]" class="form-select mb-2 bg-dark text-white">
            <option selected disabled value="">@localizer["SelectRaceTrack"]</option>
        </select>
        <span asp-validation-for="RaceTrackId" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="RaceDate" class="mb-2"></label>
        <input asp-for="RaceDate" class="form-control mb-2 bg-dark text-white">
        <span asp-validation-for="RaceDate" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="Description" class="mb-2"></label>
        <textarea rows="5" asp-for="Description" class="form-control mb-2 bg-dark text-white" placeholder=@ViewData.ModelMetadata.Placeholder></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="w-100"></div>


    <div class="col-xl-6">
        <button type="submit" class="w-100 btn btn-outline-success"><i class="fas fa-plus me-2"></i>@localizer["Add Race"]</button>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <a asp-action="Index" class="w-100 btn btn-outline-info"><i class="fas fa-angle-double-left me-2"></i>@localizer["Go Back"]</a>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
