@model Gokart_Laptime.Models.RaceModel

@{
    ViewData["Title"] = "Edit Race";
}

<form asp-action="Edit" class="row g-2 justify-content-md-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RaceId"/>
    <div class="col-xl-6">
        <label asp-for="RaceTrackId" class="mb-2"></label>
        <select asp-for="RaceTrackId" asp-items="(SelectList)@ViewData["RaceTracks"]" class="form-select mb-2 bg-dark text-white">
            <option disabled value="">Select a racetrack</option>
        </select>
        <span asp-validation-for="RaceTrackId" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="RaceDate" class="mb-2"></label>
        <input asp-for="RaceDate" class="form-control mb-2 bg-dark text-white">
        <span asp-validation-for="RaceDate" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="Description" class="mb-2"></label>
        <textarea rows="5" asp-for="Description" class="form-control mb-2 bg-dark text-white" placeholder="Enter a description (not mandatory)"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="w-100"></div>


  <div class="col-xl-6">
        <button type="submit" class="w-100 btn btn-outline-warning"><i class="fas fa-pencil-alt me-2"></i>Update Race</button>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <a asp-action="Index" class="w-100 btn btn-outline-primary"><i class="fas fa-angle-double-left me-2"></i>Go Back</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
