@model Gokart_Laptime.Models.RaceTrackModel

@{
    ViewData["Title"] = "New Track";
}

<form asp-action="Create" class="row g-2 justify-content-md-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-xl-6">
        <label asp-for="RaceTrackName" class="mb-2"></label>
        <input asp-for="RaceTrackName" class="form-control mb-2 bg-dark text-white" placeholder="Enter the racetrack's name">
        <span asp-validation-for="RaceTrackName" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="Length" class="mb-2"></label>
        <input asp-for="Length" class="form-control mb-2 bg-dark text-white" placeholder="Enter the racektrack's length">
        <span asp-validation-for="Length" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="Address" class="mb-2"></label>
        <input asp-for="Address" class="form-control mb-2 bg-dark text-white" placeholder="Enter the racetrack's address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <label asp-for="Description" class="mb-2"></label>
        <textarea rows="5" asp-for="Description" class="form-control mb-2 bg-dark text-white" placeholder="Enter a description (not mandatory)"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="w-100"></div>


    <div class="col-xl-6">
        <button type="submit" class="w-100 btn btn-outline-success"><i class="fas fa-plus me-2"></i>Add Track</button>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-6">
        <a asp-action="Index" class="w-100 btn btn-outline-primary"><i class="fas fa-angle-double-left me-2"></i>Go Back</a>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
