USE [GokartLaptime]
GO
ALTER TABLE [dbo].[Races] DROP CONSTRAINT [FK_Races_RaceTracks]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_registration_time]
GO
ALTER TABLE [dbo].[Races] DROP CONSTRAINT [DF_Races_created_by]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022. 02. 15. 8:58:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[RaceTracks]    Script Date: 2022. 02. 15. 8:58:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RaceTracks]') AND type in (N'U'))
DROP TABLE [dbo].[RaceTracks]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 2022. 02. 15. 8:58:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Races]') AND type in (N'U'))
DROP TABLE [dbo].[Races]
GO
/****** Object:  Table [dbo].[Racers]    Script Date: 2022. 02. 15. 8:58:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Racers]') AND type in (N'U'))
DROP TABLE [dbo].[Racers]
GO
/****** Object:  Table [dbo].[Laptimes]    Script Date: 2022. 02. 15. 8:58:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Laptimes]') AND type in (N'U'))
DROP TABLE [dbo].[Laptimes]
GO
USE [master]
GO
/****** Object:  Database [GokartLaptime]    Script Date: 2022. 02. 15. 8:58:07 ******/
DROP DATABASE [GokartLaptime]
GO
/****** Object:  Database [GokartLaptime]    Script Date: 2022. 02. 15. 8:58:07 ******/
CREATE DATABASE [GokartLaptime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GokartLaptime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GokartLaptime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GokartLaptime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GokartLaptime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GokartLaptime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GokartLaptime]
GO
USE [GokartLaptime]
GO
/****** Object:  Table [dbo].[Laptimes]    Script Date: 2022. 02. 15. 8:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptimes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_id] [int] NOT NULL,
	[racer_id] [int] NOT NULL,
	[lap] [int] NOT NULL,
	[laptime] [int] NOT NULL,
 CONSTRAINT [PK_Laptimes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racers]    Script Date: 2022. 02. 15. 8:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racers](
	[race_id] [int] NOT NULL,
	[racer_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 2022. 02. 15. 8:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[racetrack_id] [int] NOT NULL,
	[racedate] [date] NOT NULL,
	[description] [nvarchar](300) NULL,
	[created_by] [int] NOT NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceTracks]    Script Date: 2022. 02. 15. 8:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceTracks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[length] [int] NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[description] [nvarchar](300) NULL,
 CONSTRAINT [PK_RaceTracks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022. 02. 15. 8:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[registered_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Laptimes] ON 

INSERT [dbo].[Laptimes] ([id], [race_id], [racer_id], [lap], [laptime]) VALUES (1, 1, 1, 1, 85262)
INSERT [dbo].[Laptimes] ([id], [race_id], [racer_id], [lap], [laptime]) VALUES (2, 1, 1, 2, 82390)
INSERT [dbo].[Laptimes] ([id], [race_id], [racer_id], [lap], [laptime]) VALUES (3, 1, 1, 3, 79664)
GO
SET IDENTITY_INSERT [dbo].[Laptimes] OFF
GO
INSERT [dbo].[Racers] ([race_id], [racer_id]) VALUES (1, 1)
INSERT [dbo].[Racers] ([race_id], [racer_id]) VALUES (1, 2)
INSERT [dbo].[Racers] ([race_id], [racer_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Races] ON 

INSERT [dbo].[Races] ([id], [racetrack_id], [racedate], [description], [created_by]) VALUES (1, 1, CAST(N'2020-06-07' AS Date), N'', 1)
INSERT [dbo].[Races] ([id], [racetrack_id], [racedate], [description], [created_by]) VALUES (2, 1, CAST(N'2020-06-07' AS Date), N'', 1)
INSERT [dbo].[Races] ([id], [racetrack_id], [racedate], [description], [created_by]) VALUES (3, 1, CAST(N'2020-06-07' AS Date), N'', 1)
SET IDENTITY_INSERT [dbo].[Races] OFF
GO
SET IDENTITY_INSERT [dbo].[RaceTracks] ON 

INSERT [dbo].[RaceTracks] ([id], [name], [length], [address], [description]) VALUES (1, N'Birizdokart', 1070, N'6000 Kecskemét, Szent László krt. 66.', N'')
INSERT [dbo].[RaceTracks] ([id], [name], [length], [address], [description]) VALUES (2, N'Battaring', 480, N'2440 Százhalombatta, Mérnök u. 15.', N'')
INSERT [dbo].[RaceTracks] ([id], [name], [length], [address], [description]) VALUES (3, N'GoKart Farm', 350, N'2141 Csömör, Nádor major 28.', N'')
SET IDENTITY_INSERT [dbo].[RaceTracks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [password], [registered_at]) VALUES (1, N'Balázs Norbert', N'balazsnorbi@gmail.com', N'$2a$11$06ZYAkHZNBDmg4O9zXz/6u6Qc3Z.R1V/NyhTpjs5YLwePP1GBqY7.', CAST(N'2021-01-17T18:22:27.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [password], [registered_at]) VALUES (2, N'Tokar Ferenc', N'tokarferenc89@gmail.com', N'$2a$11$rdQPw6ziVSxEDQ9B/urUgeIwq3OrdlhAQ/mh6Bs9GayAT1pLh2e9W', CAST(N'2021-01-17T18:22:27.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [password], [registered_at]) VALUES (3, N'Schmid Tamás', N'schmidttamas@gmail.com', N'$2y$10$QQlhI6pfTam1s9f/pVucRenXmCE5gys2Qy6P6yl.cfzSjpaam72k.', CAST(N'2021-01-17T18:22:27.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Races] ADD  CONSTRAINT [DF_Races_created_by]  DEFAULT ((0)) FOR [created_by]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_registration_time]  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD  CONSTRAINT [FK_Races_RaceTracks] FOREIGN KEY([racetrack_id])
REFERENCES [dbo].[RaceTracks] ([id])
GO
ALTER TABLE [dbo].[Races] CHECK CONSTRAINT [FK_Races_RaceTracks]
GO
USE [master]
GO
